{% extends "web/_base.html" %}
{% load static %}

{% block title %}Log in{% endblock %}
{% block content %}
    <h1>Login</h1>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url "accounts:login" %}">
        {% csrf_token %}
        <table class="table table-sm">
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <p>
            <input class="btn btn-primary btn-sm" type="submit" value="Login">
        </p>
    </form>

    {% if request.signon %}
    <ul class="list-group">
        {% for provider, identity in request.signon.status %}
        <li class="list-group-item list-group-item-action">
            {% if provider.icon %}
            <img style="vertical-align: text-top; height: 1em" class="mr-2" src="{% static provider.icon %}"></img>
            {% else %}
            <i class="mr-2 bi bi-box-arrow-in-right"></i>
            {% endif %}
            {{provider.label}}:
            {% if identity %}
            signed in as {{identity.subject}}
            {% else %}
            <a href="{{provider.get_authorization_url}}">sign in</a>
            {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
