{% if workspace_list %}
    <table class="table table-sm">
        <thead>
        <tr>
            <th>Name</th>
            <th>Public</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for workspace in workspace_list %}
            <tr>
                <td>{{ workspace.name }}</td>
                <td>{% include "web/_check_icon.html" with value=workspace.public only %}</td>
                <td><a
                        href="{% url "work-requests:list" %}?workspace={{ workspace.name }}">Work
                    requests</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>
        No workspaces.
    </p>
{% endif %}
{% if not user.is_authenticated %}
    <p>
        Not authenticated. Only public workspaces are listed.
    </p>
{% endif %}
