{% extends "web/_base.html" %}
{% block title %}List of tokens{% endblock %}

{% block content %}
    <h1>List of tokens</h1>
    <p>Logged user: {{ user }}</p>
    {% if token_list %}
        <table class="table table-sm">
            <thead>
            <tr>
                <th>Token</th>
                <th>Enabled</th>
                <th>Created at</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for token in token_list %}
                <tr>
                    <td>
                        {% include "web/_token-collapse.html" with key=token.key only %}
                    </td>
                    <td>{% include "web/_check_icon.html" with value=token.enabled only %}</td>
                    <td>{{ token.created_at }}</td>
                    <td>{{ token.comment }}</td>
                    <td><a href="{% url "user:token-delete" pk=token.pk %}">Delete</a>&nbsp;|&nbsp;<a
                            href="{% url "user:token-edit" pk=token.pk %}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            No tokens for this user.
        </p>
    {% endif %}
    {% if user.is_authenticated %}
        <p>
            <a href="{% url "user:token-create" %}">Create token.</a>
        </p>
    {% else %}
        <p>
            Not authenticated. Authenticate to list the tokens.
        </p>
    {% endif %}
{% endblock %}
